<h1>Cadastrar Cliente</h1>

<%= render "form", cliente: @cliente %>
<br>
<div class="row">
  <div class="card">
  <%= link_to "Listar Clientes", clientes_path, class:"btn btn-primary" %>
  </div>
</div>
