<h1>Realizar Compra:</h1>

<div class="row">
    <div class="col-lg-8">
        <label>Cliente:</label>          
        <input type="text" class="form-control">
        <label>Produto:</label>
        <input type="text" class="form-control">
        <label>Valor:</label>
        <input type="text" class="form-control col-lg-4">
        <label>Quantidade:</label>
        <input type="text" class="form-control col-lg-4">
        <label>Total Produto:</label>
        <input type="text" class="form-control col-lg-4">                
        <br>
        <button type="button" class="btn btn-primary mb-2">Adcionar</button>
        
        <h5>Listagem das Compras:</h5>
        <div class="card">
          <ul class="list-group list-group-flush">
            <li class="list-group-item"></li>
            <li class="list-group-item"> </li>
            <li class="list-group-item"> </li>
          </ul>
        </div>
        <label>Total Compra:</label>
        <input type="text" class="form-control col-lg-4 mb-4">               
        <button type="button mb-4" class="btn btn-primary">Finalizar</button>
        <br> 
        <div class="mb-1">
        <label for="formFileLg" class="form-label">Nota Fiscal:</label>
        <input class="form-control form-control-lg" id="formFileLg" type="file">
      </div><br>        
        <button type="button" class="btn btn-primary">Enviar</button>
        <br>
        

    </div>
    
    
    <div class="col-lg-3">
        
    </div>
   
    
  </div>
   
    
    </div>

</div>




